<div class="preview-message" id="preview-message-<%=message.id%>">
    <div class="pic">
        <fb:profile-pic uid="<%=message.facebook_id%>" size="square"></fb:profile-pic>
    </div>
    <div class="content">
        <div class="delete">
            <%= link_to_remote "Delete", 
                :url => {:action=>:destroy, :id=>message.id},
                :method => :delete,
                :confirm => 'Are you sure?',
                :complete=>"$('#preview-message-#{message.id}').effect('blind');"%>
        </div>
        <span class="name">
            <fb:name uid="<%=message.facebook_id%>" useyou="false" ifcantsee="Facebook User"></fb:name>
        </span>
        <span class="body">
            <%=h(message.message)%>
        </span>
    </div>
    <% unless message.href.blank? %>
    <div class="attachment">
        <div class="thumbnail"><%=link_to(image_tag(message.media[0][:src]), message.href, :target=>'_blank') if !message.media.blank? && !message.media[0][:src].blank?%></div>
        <div class="info">
            <div class="name"><%=link_to message.name, message.href, :target=>'_blank'%></div>
            <div class="caption"><%=message.caption%></div>
            <div class="description"><%=message.description%></div>
        </div>
    </div>
    <div style="clear:both"></div>
    <% end %>
    <div class="options">
        <span class="scheduled">
            <% unless message.delivered_at.blank?%>
                <span title="Delivered!">&#9745;</span>
            <%else%>
                <span title="Not delivered yet.">&#9744;</span>
            <%end%>
            <%=facebook_time_format(message.scheduled_at_local, Time.zone.now, true)%>
        </span>
        · <%=link_to "Edit", {:action=>:edit, :id=>message.id}, :class=>'lightbox'%>
        · <%=link_to_function "Now", "FB.Connect.streamPublish(#{message.body.message.to_json},#{message.body.to_hash.to_json}, null, null, '', null, false, #{message.facebook_id.to_json});"%>
    </div>
    
</div>
    